@import 'normalize.css';
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --white: #fff;
    --colorText: #8B8B8B;
    --heightHeader: 1024px;
    --heightWhoWeAre: 1710px;
    --distancePrimary: 13.5rem;
    --black: #000;
    --heightServices: 2124px;
    --primaryColor: #5468E7;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    color: var(--colorText);
    background-color: var(--white);
    box-sizing: border-box;
}

body {
    font-family: 'SF Pro Display', sans-serif;                                  
    font-size: 1.8rem;
    line-height: 1.4rem;
    text-rendering: optimizeSpeed;
    text-align: center;
}

.grid {
    width: 1170px;
    max-width: 100%;
    margin:0 auto;
}