.App {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.button-primary {
    width: 18rem;
    height: 6.4rem;   
    /* color/dark */
    border: 0px;
    background: #5468E7;
    border-radius: 8px;

    &:hover {
        background: #7483e5;
        cursor: pointer;
    }
    .Recent-Works {
        font-weight: bold;
        font-size: 1.8rem;
        left: 24.44%;
        right: 24.44%;
        color: #FFFFFF;
    }
}

.Headline {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 12.8rem;
    .Headline__logo {
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        align-self: flex-start;
    }
    .Headline__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .Headline__content__tagline {
            font-weight: 600;
            line-height: 2.4rem;
            font-style: normal;
            margin-bottom: 2.4rem;
            .taglineContent {
                color: #FFFFFF;
                margin-left: 2.4rem;
            }
        }
        .Headline__content__para {
            font-weight: 700;
            font-size: 64px;
            line-height: 72px;
            /* or 112% */
            margin: 0;
            letter-spacing: -0.5px;
            
            /* color/white */
            
            color: #FFFFFF;
            width: 66rem;
            text-align: left;
        }
    }
    .Headline__Arrow {
        margin-top: 5.4rem;
        img {
            width: auto;
            height: auto;
            top: 0;
            left: 0;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.Header {
    width: 100%;
    height: var(--heightHeader);
    left: 0px;
    top: 0px;
    background-image: url('../images/HeaderBg.svg');
    
    .Navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6.4rem 7.2rem 0px;

        .Nav__logo {
            padding: 12px 0px;
        }

        .Nav__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 0;
            margin: 0;
            font-weight: 600;
    
            .Nav__menu-item {   
                list-style: none;
                line-height: 2.5rem;
                padding: 1.5rem 3.2rem;
                &:hover {
                    cursor: pointer;
                }
            }

            .Nav__menu-item:first-child {
                color: #5468E7;
            }
            
            .Nav__notify {
                position: absolute;
                right: 0;
                top: 0;
                padding: 3px 8px;
                border-radius: 10px;
                font-size: 1.4rem;
                line-height: 1.4rem;
                color: var(--white);
                background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
            }
        }
        .button-primary {
            background: #232340;
            &:hover {
                background: #3a3a64;
                cursor: pointer;
            }
        }
    }

    .Header__Container {
        position: relative;
        margin-top: 94px; 
        height: 100%;
        display: flex;

        .Header__HeroImg {
            position: absolute;
            top: 4rem;
            right: -2.5rem;
            width: auto;
            height: auto; 
        }
        .Header__HeroBG {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            height: auto; 
        }
        .Header__HeroContent {
            width: 467px;
            height: 548px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            .Header__HeroContent__main {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .Header__HeroContent__title {
                    height: 300px;
                    margin: 0;
                    text-align: start;
                    font-weight: 700;
                    font-size: 84px;
                    line-height: 100px;
                    letter-spacing: -1px;
                    color: #232340;
                }
                .Header__HeroContent__content {
                    width: 367px;
                    text-align: start;
                    font-weight: 400;
                    margin: 40px 0 48px;
                    font-size: 18px;
                    line-height: 32px;
                    color: #606060;
                }
            }
        }
        .Header__ScrollDownIcon {
            position: absolute;
            bottom: -32%;
            left: 0 ;
            height: auto;
            width: auto;
            vertical-align: bottom;
            object-fit: cover;
            display: flex;
            align-items: center;
            span {
                margin-left: 16px;
            }
        }
    }

}

.WhoWeAre {
    position: relative;
    width: 100%;
    height: var(--heightWhoWeAre);
    background: #232340;
    background-image: url('../images/line.svg');
    background-repeat: no-repeat;

    .WhoWeAre__shape3d {
        width: 100%;
        height: 100%;
        .shape3dIMG {
            position: absolute;
            top: -4rem;
            right: 0;
        }
        .grid {
            position: relative;
        }
        .WhoWeAre__body {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 9.4rem;
            .WhoWeAre__body__timeLine {
                margin: 0;
                margin-bottom: 6rem;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
    
                .TimeLineCurrentYear {
                    position: relative;
                    color: var(--white);
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -8.5rem;
                        width: 24px;
                        height: 4px;
                        background: var(--white);
                        margin-top: 7px;
                    }
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 7rem;
                        width: 200px;
                        height: 16px;
                        z-index: 1;
                        background: url('../images/pointLine.svg');
                    }
                }
            }
            .WhoWeAre__body__img {
                img {
                    position: relative;
                    width: auto;
                    height: auto;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    .WhoWeAre__footer {
        display: flex;
        justify-content: space-between;
        .WhoWeAre__footer__content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding-left: 20rem;
            padding-right: 2rem;
            .WhoWeAre__footer__content__main {
                display: flex;
                flex-direction: column;
                .WhoWeAre__content__title {
                    font-size: 3.2rem;
                    line-height: 4rem;
                    letter-spacing: -0.5px;
                    color: #FFFFFF;
                    text-align: left;
                    margin: 0;
                }
                .WhoWeAre__content__body {
                    text-align: left;
                    line-height: 3.2rem;
                    padding: 4rem 0;
                }
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 2px;
                height: 80px;
                background: #F1B2CC;
                border-radius: 1px;
            }
        }
        .WhoWeAre__footer__number {
            padding: 8rem;
            .WhoWeAre__number {
                margin: 0;
                font-size: 20rem;
                line-height: 18rem;
                text-align: center;
                color: #FFFFFF;
            }
            .WhoWeAre__number__content {
                margin: 0;
                font-size: 2.4rem;
                line-height: 3rem;
                font-style: normal;
                font-weight: 700;
                text-align: center;
                letter-spacing: -0.2px;
                color: #FFFFFF;
            }
        }
    }
}

.Services {
    width: 100%;
    height: var(--heightServices);
    background-color: var(--white);
    background-image: url('../images/ServicesBg.svg');
    background-color: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289), 100%);
    .Headline {
        .Headline__content {
            .Headline__content__tagline, .taglineContent {
                color:#5468E7;
            }
            .Headline__content__para {
                color:#232340;
            }
        }
    }
    .Services__Card {
        display: flex;
        background-color: var(--white);
        border: 3px solid #FFFFFF;
        border-radius: 48px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        justify-content: space-around;
        margin-top: 14rem;
        .Services__Card_Box {
            display: flex;
            flex-direction: column;
            // align-items: center;
            border-radius: 48px;
            padding: 14rem 5.6rem;
            background-color: var(--white);
            
            .Services__Card__name {
                margin: 0;
                margin-top: 4rem;
                color: #5468E7;
            }
            &:hover:not(.Services__Card__Current) {
                cursor: pointer;
                background-color: #838FDD;
            }
        }
        .Services__Card__Current {
            border-radius: 48px ;
            background: #5468E7;
            box-sizing: content-box;
            .Services__Card__name {
                margin: 0;
                margin-top: 3.3rem;
                color: #FFFFFF;
            }
        }
    }
}